@{
    ViewBag.Title = "الرئيسية";
}

<div class="row">
    <div class="jumbotron">
        <h2>من احيا نفس كأنما احيا الناس جميعاً</h2>
        <p class="lead">
            قم بانقاذ نفساً من الموت واكسب الاجر والثواب من الله فكم من نفساً محتاجة الى الدم في المستشفيات لاندري عنها وكم من متبرع لاندري عنه.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h3>متبرع</h3>
        <p>اكسب الاجر العظيم بتسجيل بياناتك وفصيلة الدم من اجل التواصل عبر الرسائل الخاصة.</p>
        <p class="text-info">لن يتم عرض رقم الهاتف او البريد الالكتروني في نتائج البحث دون تفعيل خيار العرض من قبل.</p>
        <p>
            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary">الدخول</a>
            <a href="#" data-toggle="modal" data-target="#register-modal" class="btn btn-default">التسجيل</a>
        </p>
    </div>

    <div class="col-sm-6">
        <h3>بحاجة الى متبرع</h3>
        <p>بالامكان التواصل مع المتبرعين عبر الرسائل الخاصة ضمن الموقع بعد تسجيل الدخول.</p>
        <p class="text-info">لن يتم عرض رقم الهاتف او البريد الالكتروني في نتائج البحث دون تفعيل خيار العرض من قبل.</p>
        <p>
            <a href="#" data-toggle="modal" data-target="#login-modal" class="btn btn-primary">الدخول</a>
            <a href="#" data-toggle="modal" data-target="#register-modal" class="btn btn-default">التسجيل</a>
        </p>
    </div>
</div>