 <!-- nav -->
<div class="row">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">بنك الدم</a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">عن الموقع</a></li>
                <li><a href="#">تواصل معنا</a></li>
            </ul>

            @Html.Partial("_Login")
        </div>
    </nav>
</div> <!-- end nav -->
